
    <!-- Hero section -->
    <section class="hero py-16">
        <div class="container mx-auto max-w-screen-lg lg:flex justify-center items-center">
            <div class="w-full lg:w-1/2 ml-4">
                <h6 class="text-lg"><em>We deliver fresh fish from</em></h6>
                <h1 class="text-6xl font-bold">Ocean 2 plate!</h1>
                <button class="btn px-6 py-2 my-6 btn-primary rounded-full text-white">Order Now</button>
            </div>
            <div class="w-full lg:w-1/2">
                <img src="/img/Hero-img.png" alt="" srcset="">
            </div>
        </div>
    </section>
    <section class="container text-center">
            <h1 class="text-xl font-bold py-2 mb-4">Our menu</h1>
    </section>
    <!-- Menu -->
    <section class="container mx-auto menu max-w-screen-lg flex justify-center">
        <div class="grid grid-cols-1 gap-y-24 lg:grid-cols-4">
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/fish.png" alt="fish" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg ">Rohu</h2>
                    <span class="py-1 px-4 rounded-full uppercase text-xs size">Small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹500/Kg</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>